---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title="Template - All Posts">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl text-neutral-100">About</h1>
    <p>Hey I'm Pascual. I am an data scientist and engineer and tech enthusiast, with passion for building data intensive tools.</p>
    <ul>
      <p> Currently working as a data scientist</p>
      <br>
      <p> I am interested in the following areas:</p>
      <ul>
        <li>- Artificial intelligence</li>
        <li>- Climate change</li>
        <li>- Edtech in developing countries</li>
        <li>- Fintech in developing countries</li>
      </ul>
      <br>
      <li>- MS @Stanford in 2022</li>
      <li>- Founded Vita Health, a health tech startup in 2019</li>
      <li>- Love cycling - I ride a Specialized Roubaix</li>
      <li>- Not (very) active on <a href="https://twitter.com/pascualcmch">twitter</a></li>
      <li>- Born and raised in 🇲🇽</li>
    </ul>
  </main>
</Layout>